.card {
  position: relative;
  box-sizing: border-box;
  width: 325px;
  max-width: 100%;
  padding: 16px;
  border-radius: 10px;
  background: var(--color-brand-white);
}

.title {
  display: block;
  margin-bottom: 22px;
  font-family: var(--font-body);
  font-size: 12px;
  color: var(--color-brand-black);
}

.gridLabel {
  font-family: var(--font-body);
  font-size: 10px;
  fill: var(--color-brand-grey);
}

.xLabel {
  font-family: var(--font-body);
  font-size: 10px;
  fill: var(--color-brand-grey);
  text-anchor: middle;
}

.bar {
  fill: var(--color-green-primary);
}
